

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://concreteplayground.com/content/uploads/2015/05/Astor.jpg);">
  <div class="container">
    <h1><%="Save any kind of movies"%></h1>
    <%= link_to "Create a new list", new_list_path, class:"btn btn-primary" %>
  </div>
</div>

<p><%@lists.each do | list |%></p>
    <p><%=link_to list.name, list_path(list)%></p>
<p><%end%></p>
